@import "tailwindcss";

:root {
  --background: #FCF9F6;
  --foreground: #31302F;
  --primary: #516051;
  --secondary: #EAE8E5;
  --light-primary: #F2F3EC;
}

@theme inline {
  --font-heading: var(--font-eb-garamond);
  --font-body: var(--font-hanken-grotesk);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-primary: var(--light-primary);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
